@import "tailwindcss";

@font-face {
  font-family: "PF Handbook Pro";
  src: url("assets/fonts/pf-handbook-pro/Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PF Handbook Pro";
  src: url("assets/fonts/pf-handbook-pro/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("assets/fonts/jetbrains-mono-nerd/ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "JetBrains Mono Nerd", sans-serif;
  --font-display: "PF Handbook Pro", serif;

  --color-palette-1: #181818;
  --color-palette-2: #323232;
  --color-palette-3: #f99e4b;
  --color-palette-4: #fccfa5;
  --color-palette-5: #cfcfcf;
  --color-palette-6: #ffffff;

  --color-menubar: #3c3c3c;
  --color-navbar: #333333;
  --color-sidebar: #252526;
  --color-statusbar: #181818;
  --color-active-tab: #1e1e1e;
  --color-inactive-tab: #2d2d2d;
  --color-tabpanel: #1f1f1f;
  --color-border: #474747;
  --color-accent: #007aac;
  --color-text: #cccccc;
  --color-menubar-active: #424243;
  --color-menubar-hover: #858585;
  --color-menubar-controls1-hover: #4d4d4e;
  --color-menubar-controls2-hover: #e81023;
  --color-sidebar-active: #03395e;
  --color-sidebar-active-border: #027fd4;
  --color-sidebar-hover: #37373c;
  --color-active-text: #ffffff;
  --color-inactive-text: #858585;
}
